@model BPRCoronaFighter.Models.Video

@{
	ViewBag.Title = "Admin Video Library";
}

<!DOCTYPE html>
<html>
<head>
	<!-- required meta tags -->
	<meta charset="utf-8">
	<link rel="stylesheet" href="~/content/admin-video-library.css">
	<script src="~/scripts/jquery-3.4.1.js"></script>
	<script src="~/scripts/bootstrap-4.0.0-dist.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js" integrity="sha512-y2iivzeabwxg1wsv7f13plqlmfox8mdjuhyyfvoyzhyrr3nh/nmdjtbsswijzaddnzmywnetblmfopipl6cv9g==" crossorigin="anonymous"></script>
	<script language="javascript" type="text/javascript" src="~/scripts/admin-video-library.js"></script>
</head>
<body>

	<!-- Side navigation -->
	<div class="sidenav">
		<a href="AdminPanel">Dashboard</a>
		<a href="AdminMyAccount">My account</a>
		<a href="AdminApprovedUsers">Aprroved Users</a>
		<a href="AdminDeclinedUsers">Declined Users</a>
		<a href="AdminVideoLibrary">Add Videos</a>
		<a href="VideoLibrary">Video Library</a>
	</div>
	<!-- Page content -->
	<div class="main">

		@using (Html.BeginForm())
		{
			@Html.AntiForgeryToken()
			<div class="card gedf-card">

				<div class="card-body" id="postcard">
					<div class="tab-content" id="myTabContent">
						<div class="form-horizontal">
							<hr />
							@Html.ValidationSummary(true, "", new { @class = "text-danger" })
							<div class="form-group">
								@Html.LabelFor(model => model.VideoTitle, htmlAttributes: new { @class = "control-label col-md-4" })

								<div class="col-md-8">
									@Html.EditorFor(model => model.VideoTitle, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.VideoTitle, "", new { @class = "text-danger" })
								</div>
							</div>
							<hr />
							<div class="form-group">
								@Html.LabelFor(model => model.VideoURL, htmlAttributes: new { @class = "control-label col-md-4" })
								<br />
								<div class="col-md-8">
									@Html.TextAreaFor(model => model.VideoURL, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.VideoURL, "", new { @class = "text-danger" })
								</div>
							</div>
							<hr />
							<div class="form-group">
								@Html.LabelFor(model => model.ImageLink, htmlAttributes: new { @class = "control-label col-md-4" })
								<br />
								<div class="col-md-8">
									@Html.TextAreaFor(model => model.ImageLink, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.ImageLink, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
					</div>

					<input type="submit" value="Post" class="btn btn-primary" style="display:block;margin:0 auto" />


				</div>

			</div>
		}

		@*<input type="text" id="vtitle" name="vtitle" size="40px"><br>
			<label for="vurl">video url:</label><br>
			<input type="text" id="vurl" name="vurl" size="40px"><br>
			<label for="vthumbnail">video thumbnail:</label><br>
			<input type="text" id="vurl" name="vthumbnail" size="40px"><br><br>
			<input type="submit" value="submit">*@

	</div>
</body>
</html>
