@model IEnumerable<BPRCoronaFighter.Models.Video>
@{
	ViewBag.Title = "VideoLibrary";
}

<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<link rel="stylesheet" href="~/Content/admin-video-library.css">
</head>
<body>
	<!-- Side navigation -->
	<div class="sidenav">
		<a href="AdminPanel">Dashboard</a>
		<a href="AdminMyAccount">My account</a>
		<a href="AdminApprovedUsers">Aprroved Users</a>
		<a href="AdminDeclinedUsers">Declined Users</a>
		<a href="AdminVideoLibrary">Add Videos</a>
		<a href="VideoLibrary">Video Library</a>
	</div>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<p>
			@Html.ActionLink("Create New", "AdminVideoLibrary")
		</p>


		<div class="container2" style="margin-left:15%;">
			<h3 class="page-header" id="youtube-gallery">Current coronavirus videos in user library</h3>
			<b style="margin-top:10%;">Total selected:</b>
			<button id="button_delete" type="button" style="margin-bottom:2%; margin-left:72.8%;">Delete selected videos from user library</button>
			<div class="row">
				<div class="card-body">
					@foreach (var item in Model)
					{
					
						<a href="@Html.DisplayFor(modelItem => item.VideoURL)" target="_blank" data-title="@Html.DisplayFor(modelItem => item.VideoTitle)" data-width="1024" data-toggle="lightbox" data-gallery="youtubevideos" class="col-sm-4 video">
						<img src="@Html.DisplayFor(modelItem => item.ImageLink)" class="img-responsive" style="width: 320px; height: 220px;">
							<button type="button" class="btn btn-play">
							<span class="glyphicon glyphicon-play" aria-label="Play"></span>
						</button>
						
						<div class="box-title">
							<span>@Html.DisplayFor(modelItem => item.VideoTitle)</span>
						</div>
					</a>
					}
				</div>
			</div>
		</div>
	}
